<div ng-cloak>
    <ng-audio-recorder id='audioInput' audio-model='recordedInput'>
        <!-- Start controls, exposed via recorder-->
        <div ng-if="recorder.isAvailable">
            <!--button ng-click="recorder.startRecord()" type="button" ng-disabled="recorder.status.isRecording">
                Start Record
            </button>
            <button ng-click="recorder.stopRecord()" type="button" ng-disabled="recorder.status.isRecording === false">
                Stop Record
            </button>
            <button ng-click="recorder.playbackRecording()" type="button"
                    ng-disabled="recorder.status.isRecording || !recorder.audioModel">
                Play Back
            </button-->
        </div>

        <div ng-if="!recorder.isAvailable">
            Recording is not possible.
        </div>
        <!-- End controls-->
    </ng-audio-recorder>

    <div ng-if="vm.docNeeded">
        <div ng-if="vm.takeSnapshot">
            <webcam
                channel="vm.myChannel"
                on-stream="vm.onStream(stream)"
                on-streaming="vm.onSuccess()"
                on-error="vm.onError(err)"
                ng-click="vm.makeSnapshot()">
            </webcam>
        </div>
        <div ng-show="!vm.takeSnapshot">
            <canvas id="snapshot"></canvas>
            <br>
            <button class="btn btn-primary btn-lg" ng-click="vm.saveSnapshot()"><i class="glyphicon glyphicon-thumbs-up "></i></button>
            <button class="btn btn-warning btn-lg" ng-click="vm.redoSnapshot()"><i class="glyphicon glyphicon-refresh "></i></button>
        </div>
    </div>

    <div class="row">
        <div class="text-center">
            <button ng-class="vm.recStatus === vm.recStatusConst.started ? 'btn btn-lg btn-danger' : 'btn btn-lg btn-primary'"
                    ng-click="vm.streamVoice()">
                {{vm.recStatus === vm.recStatusConst.started ? 'stop' : 'start'}}
            </button>
        </div>
        <!--button ng-click=""><i class="glyphicon glyphicon-record"></i></button-->
        <!--button ng-click="vm.analyzeRecord()">Analyze</button -->
    </div>
    <div class="row">
        <form class="form">
            <div class="form-group">
                <label for="nameAndSurname">Nome</label>
                <input ng-model="vm.data.name" type="text" class="form-control" id="nameAndSurname">
            </div>
            <div class="form-group">
                <label for="address">Indirizzo:</label>
                <input ng-model="vm.data.location" type="text" class="form-control" id="address">
            </div>
            <div class="form-group">
                <label>Documento:&nbsp;</label>
                <a ng-href="{{vm.data.documentUrl}}" target="_blank" class="btn btn-primary"
                   ng-disabled="!vm.data.documentUrl">Scarica {{vm.data.document || 'Documento'}}</a>
            </div>
            <div class="form-group">
                <label for="mortgage">Importo rata:</label>
                <div class="input-group">
                    <span class="input-group-addon">€</span>
                    <input ng-model="vm.data.mortgage" type="text" class="form-control" id="mortgage">
                    <span class="input-group-addon">,00</span>
                </div>
            </div>
        </form>
    </div>
</div>
